// Colors 
$darkBlue: (233, 26%, 24%); 
$limeGreen: (136, 56, 51%);
$brightCyan: (192, 70%, 51%);

$grayishBlue: (233, 8%, 62%);
$lighGrayishBlue: (220, 16%, 96%);
$veryLightGray: (0, 0%, 98%);
$white: (0, 0%, 100%);

//Font Sizes
$font-sm: 0.875em; // 14px
$font-med: 1.125em; // 18px 
